body {
    font-family: Arial, sans-serif;
    background-color: #9ba0c9;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #4a2d53;
    color: white;
    padding: 20px 0;
}
main {
    padding: 20px;
}
.question-block {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}
button {
    background-color: #4a2d53;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    background-color: #4a2d53;
}
footer {
    background-color: #4a2d53;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.answer {
    display: inline-block;
    visibility: hidden;
}
